body{
    background-color: #ffbf69;
}

.container{
    display: block;
    background-color: #fff;
    padding: 1em;
    border-radius: 2px;
    border: 2px solid #ff9f1c;
    border-top: 0px;
}

.toLinks{
    display: inline-flex;
}

.link-normal{
    display: inline-flex;
    margin-left: 1.2em;
}

.link-normal a{
    display: inline-flex;
    background-color: red;
    padding: 0.8em;
    border-radius: 0px 0px 9px 9px;
    box-shadow: 9px 5px 17px -7px rgba(0,0,0,0.75);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    /* text-shadow: 1px 4px 9px #3e0404; */
}

.link-normal a:hover{
    color: #6c0505;
    background-color: #f66f6f;
}

.link-normal a:active{
    color: #000;
    text-decoration: overline;
}

.link-image{
    display: inline-flex;
    margin-left: 2em;
}

.link-image a{
    display: inline-flex;
}

.link-image a img{
    display: inline-flex;
    width: 45px;
}

.toLists{
    display: inline-flex;
}

.listsContainer{
    display: inline;
}

ul{
    background-color: blue;
}