body{
    background-color: #ededed;
}

.container-big{
    background: white;
    border-radius: 2px;
    border: 2px solid #c2c2c3;
    border-top: hidden;
    

}

.container-med{
    padding: 13px;
    margin: 0;
    border-bottom:1px solid #ebebf0;
}

.container-med h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0;
    font-weight: normal;
}

.container-med p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

#button-ok{
    border: hidden;
    border-radius: 0px;
}

