body{
    background-color: #ededed;
}

.container-big{
    background: white;
    border-radius: 2px;
    border: 2px solid #c2c2c3;
    border-top: hidden;
    

}

.container-med{
    padding: 13px;
    margin: 0;
    border-bottom:1px solid #ebebf0;
}

.container-med h3{
    font-family: Georgia;
    margin: 0px;
    padding: 0;
    font-weight: 500;
}

.container-med p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

#button-ok{
    border: hidden;
    border-radius: 0px;
    margin: 0;
    padding: 9px;
    background-color: #4188f1;
    color: white;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: inline-block;
    height: 35px;
    width: 69px;
}

#button-can{
    border: hidden;
    border-radius: 0;
    margin-left: 3px;
    padding: 9px;
    padding-right: 1.5em;
    background-color: #aaaaaa;
    color: whitesmoke;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: inline-block;
    height: 35px;
    width: 75px;
}

